<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add channels</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
    <script src="/js/bundle-addChannel.js" defer></script>
</head>
<body>
<!-- Navbar Fragment -->
<header th:replace="~{fragments/navbar :: navbar}"></header>
<main class="container">
    <h1>Add a channel</h1>
    <form>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name:</label>
            <input type="text" id="nameInput" name="nameInput" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="dateInput" class="form-label">Date:</label>
            <input type="date" id="dateInput" name="dateInput" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="subscribersInput" class="form-label">Subscribers:</label>
            <input type="number" id="subscribersInput" name="subscribersInput" class="form-control"
                   required>
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-outline-dark" id="addButton">Add channel</button>
        </div>
    </form>

    <div class="mb-3">
        <div id="alert-container" style="display: none"></div>
        <div id="successContainer" style="display: none;"></div>
    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<!-- Footer Fragment -->

</body>
</html>