<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Channels</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
    <script src="/js/bundle-channels.js" defer></script>
</head>
<body>
<!-- Navbar Fragment -->
<div th:replace="~{fragments/navbar :: navbar(page = 'channels')}"></div>
<div class="container mt-2">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Joined</th>
                <th>Subscribers</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="channelTableBody">
            <tr th:id="'channel_' + ${channel.id}" th:each="channel:${channels}">
                <td th:text="${channel.id}"></td>
                <td>
                    <a th:text="${channel.name}" th:href="@{/channels/{id}(id=${channel.id})}"></a>
                </td>
                <td th:text="${channel.date}"></td>
                <td th:text="${channel.subscribers}"></td>
                <td>
                    <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-outline-danger">
                        <i class="bi bi-trash3"></i> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-outline-dark" tabindex="-1" type="button"
            id="addChannelButton">
        <i class="bi bi-plus"></i>Add Channel
    </button>
</div>
<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>