<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Channels CSV</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar(page = 'channels-csv')}"></div>

<main class="container">
    <h1>Upload Channels CSV</h1>
    <form th:action="@{/channels-csv}"
          th:method="POST"
          enctype="multipart/form-data">
        <div class="mb-3">
            <label for="channels-csv" class="form-label">
                Select a file to upload</label>
            <input class="form-control"
                   type="file"
                   name="channels-csv"
                   id="channels-csv"/>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">
                Upload
            </button>
        </div>
    </form>
<p th:if="${inProgress}">Processing your file...</p>
</main>

</body>
</html>
