<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
    <title th:text="${channel.name}"></title>
    <script src="/js/bundle-channel.js" defer></script>
</head>
<body>
<!-- Navbar Fragment -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <input id="channelId" type="hidden" th:value="${channel.id}">
    <h1 th:text="${channel.name}"></h1>

    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Subscribers</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${channel.id}"></td>
                <td>
                    <label for="nameTextArea">
                        <textarea th:text="${channel.name}" id="nameTextArea" rows="1"></textarea>
                </td>
                <td th:text="${channel.date}"></td>
                <td>
                    <label for="subscribersTextArea">
                        <textarea th:text="${channel.subscribers}" id="subscribersTextArea" rows="1"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" id="updateButton" type="button" disabled>Update</button>
    </div>
    <div class="mt-5">
        <div class="dropdown" id="dropdownButtonWrapper">
            <button class="table table-sm mt-1" id="toggleVideosButton">
                Videos on this channel
            </button>
            <table class="table table-sm mt-1" id="videosTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Views</th>
                </tr>
                </thead>
                <tbody id="channelInformationBody">
                </tbody>
            </table>
        </div>
    </div>

    <button type="button" class="btn btn-outline-dark">Delete</button>

</div>
<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>