<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Videos</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
    <script src="/js/bundle-videos.js" defer></script>
</head>
<body>
<!-- Navbar Fragment -->
<div th:replace="~{fragments/navbar :: navbar(page = 'videos')}"></div>

<div class="container mt-2">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Views</th>
                <th>Link</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="videoTableBody">
            <tr th:id="'video_' + ${video.id}" th:each="video:${videos}">
                <td th:text="${video.id}"></td>
                <td>
                    <a th:text="${video.title}" th:href="@{/videos/{id}(id=${video.id})}"></a>
                </td>
                <td th:text="${video.views}"></td>
                <td th:text="${video.link}"></td>
                <td th:text="${video.genre}"></td>
                <td>
                    <button type="button" class="btn btn-outline-danger" sec:authorize="hasRole('ROLE_ADMIN')">
                        <i class="bi bi-trash3"></i> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{videos/add}" class="btn btn-outline-dark" tabindex="-1" role="button">
        <i class="bi bi-plus"></i>Add Video</a>
</div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>