<!DOCTYPE html>
<html lang="en">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
</head>
<body>
<div th:fragment="footer">
    <footer class="fixed-bottom footer mt-auto py-3 bg-light">
        <div class="container">
           <span class="text-muted">
                ©<script th:inline="javascript">
                    document.write(new Date().getFullYear())
                </script> The VideoApp.
            </span>
        </div>
    </footer>
</div>
</body>
</html>