<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="html_head">
    <title>[[${pageTitle}]]</title>
    <thymeleaf th:fragment="meta_script_link" th:remove="tag">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/css/bundle-site.css"/>
        <script src="/js/bundle-site.js" defer></script>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </thymeleaf>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-info-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Main page</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/channels}"
                           th:classappend="${page == 'channels'} ? 'active' : ''">Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/comments}"
                           th:classappend="${page == 'comments'} ? 'active' : ''">Comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/videos}"
                           th:classappend="${page == 'videos'} ? 'active' : ''">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/search-channels}"
                           th:classappend="${page == 'search-channels'} ? 'active' : ''">Search channels</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/channels-csv}"
                           th:classappend="${page == 'channels-csv'} ? 'active' : ''">Upload csv</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-2 pt-2" sec:authorize="isAuthenticated()">
                        <span class="navbar-text">Welcome, <span sec:authentication="name"></span>!</span>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form class="d-flex" th:action="@{/logout}" th:method="POST">
                            <button type="submit" class="btn btn-secondary">Sign out</button>
                        </form>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}" th:classappend="${page == 'login'} ? 'active' : ''">Sign
                            in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
