<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Main page</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
</head>
<body>
<!-- Navbar Fragment -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-3">
    <div class="jumbotron">
        <h2 class="display-4">Welcome to my Video Platform!</h2>
        <p>Track your subscribers and comments easily!</p>
    </div>

</div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>