<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar(page = 'login')}"></div>

<main class="container">
    <h1>Sign In</h1>
    <form action="/login" method="post">
        <div class="pb-3">
            <label for="username" class="form-label"></label>
            <input name="username" id="username" class="form-control" type="text">
        </div>
        <div class="pb-3">
            <label for="password" class="form-label"></label>
            <input name="password" id="password" class="form-control" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</main>

</body>
</html>
