@use "variables" as *;
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  overflow-y: scroll;
  font-family: Arial, sans-serif;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.navbar {
  background-color: #f8f9fa;
  padding: 10px;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    .nav-item {
      position: relative;

      .nav-link {
        text-decoration: none;
        padding: 10px;
        color: #000;
        display: block;
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 200px;
        z-index: 1000;

        .dropdown-item {
          padding: 10px;
          text-decoration: none;
          color: #000;
          display: block;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }
}


#alert-container {
  color: white;
  background-color: red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#successContainer {
  color: white;
  background-color: green;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#unauthenticated {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px $shadow-color;
  text-align: center;

  h1 {
    color: $error-color;
  }

  p {
    margin-bottom: 20px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
    text-decoration: none;
    border-radius: $border-radius;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}
