<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add comments</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Navbar Fragment -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <form th:action="create" th:method="post" th:object="${getPage}">

        <div class="mb-3">
            <label for="text" class="form-label">Comment:</label>
            <input type="text" th:field="*{text}" id="text" name="text" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="likes" class="form-label">Number of Likes:</label>
            <input type="number" th:field="*{likes}" id="likes" name="likes" class="form-control"
                   required>
        </div>

        <button type="submit" class="btn btn-outline-dark">Add</button>

    </form>
</div>
<div th:if="${message}" class="alert alert-success alert-dismissible fade show container mt-3" role="alert">
    <p th:text="${message}"></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:if="${message2}" class="alert alert-danger alert-dismissible fade show container mt-3" role="alert">
    <p th:text="${message2}"></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>