<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comments</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
</head>
<body>
<!-- Navbar Fragment -->
<div th:replace="~{fragments/navbar :: navbar(page = 'comments')}"></div>
<div class="container mt-2">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Likes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment:${comments}">
                <td th:text="${comment.id}"></td>
                <td>
                    <a th:text="${comment.text}" th:href="@{/comments/{id}(id=${comment.id})}"></a>
                </td>
                <td th:text="${comment.likes}"></td>
                <td>
                    <form th:action="@{'/comments/delete/' + ${comment.id}}" th:method="post">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{comments/add}" class="btn btn-outline-dark" tabindex="-1" role="button">Add Comment</a>
</div>


<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>