<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Comments</title>
    <thymeleaf th:replace="~{fragments/navbar :: meta_script_link}"/>
    <script src="/js/bundle-comments.js" defer></script>
</head>
<body>
<!-- Navbar Fragment -->
<div th:replace="~{fragments/navbar :: navbar(page = 'comments')}"></div>
<div class="container mt-2">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Likes</th>
            </tr>
            </thead>
            <tbody id="commentTableBody">
            <tr th:id="'comment_' + ${comment.id}" th:each="comment:${comments}">
                <td th:text="${comment.id}"></td>
                <td>
                    <a th:text="${comment.text}" th:href="@{/comments/{id}(id=${comment.id})}"></a>
                </td>
                <td th:text="${comment.likes}"></td>
                <td>
                    <form>
                        <button sec:authorize="hasRole('ROLE_ADMIN')" type="submit"
                                class="btn btn-outline-danger deleteButton">
                            <i class="bi bi-trash3"></i>
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{comments/add}" class="btn btn-outline-dark" tabindex="-1"
       role="button">
        <i class="bi bi-plus"></i>Add Comment</a>
</div>

<!-- Footer Fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
